	<div id="page" class="innerpage clearfix">
		
		<div id="text-page">			
			<div class="entry">
				<h1>Oh no!</h1>
				<div class="entry-post">
					Seems like you are looking for something that just isn't here. <a href="/">Try heading back to our main page</a>. Or you can checkout some of our featured products below.
				</div>
			</div>
		</div>

		
		<h1>Featured Products</h1>	
		<ul class="item-list clearfix">
		
			{% for product in collections.frontpage.products %}
			<li>
				<form action="/cart/add" method="post">
				<div class="item-list-item">					
					<div class="ili-top clearfix">
						<div class="ili-top-content">
							<h2><a href="{{product.url}}">{{product.title}}</a></h2>
							<p>{{ product.description | truncatewords: 15 }}</p>
						</div>						
						<a href="{{product.url}}" class="ili-top-image"><img src="{{ product.featured_image | product_img_url: 'small' }}" alt="{{ product.title | escape }}"/></a>	
					</div>
					
					<div class="ili-bottom clearfix">
						<p class="hiddenvariants" style="display: none">{% for variant in product.variants %}<span><input type="radio" name="id" value="{{variant.id}}" id="radio_{{variant.id}}" style="vertical-align: middle;" {%if forloop.first%} checked="checked" {%endif%} /><label for="radio_{{variant.id}}">{{ variant.price | money_with_currency }} - {{ variant.title }}</label></span>{% endfor %}</p>
						<input type="submit" class="" value="Add to Basket" />
						<p>
							<a href="{{product.url}}">View Details</a>	
							
							<span>
								{% if product.compare_at_price %} 			  
									{% if product.price_min != product.compare_at_price %}			    
										{{product.compare_at_price | money}} -
			  						{% endif %}
								{% endif %}
								<strong>
									{{product.price_min | money}}
								</strong>
							</span>
						</p>
					</div>
				</div>
				</form>
			</li>
			{% endfor %}

		</ul>
	</div>
	<!-- end page -->



