	<div id="page" class="innerpage clearfix">
		<h1>{{ collection.title }}</h1>
		{% if collection.description.size > 0 %}
			<div class="latest-news">{{ collection.description }}</div>
		{% endif %}
		
		{% paginate collection.products by 8 %}

		<ul class="item-list clearfix">
		{% for product in collection.products  %}
			<li>
				<form action="/cart/add" method="post">
				<div class="item-list-item">					
					<div class="ili-top clearfix">
						<div class="ili-top-content">
							<h2><a href="{{product.url}}">{{product.title}}</a></h2>
							<p>{{ product.description | truncatewords: 15 }}</p>
						</div>						
						<a href="{{product.url}}" class="ili-top-image"><img src="{{ product.featured_image | product_img_url: 'small' }}" alt="{{ product.title | escape }}"/></a>	
					</div>
					
					<div class="ili-bottom clearfix">
						<p class="hiddenvariants" style="display: none">{% for variant in product.variants %}<span><input type="radio" name="id" value="{{variant.id}}" id="radio_{{variant.id}}" style="vertical-align: middle;" {%if forloop.first%} checked="checked" {%endif%} /><label for="radio_{{variant.id}}">{{ variant.price | money_with_currency }} - {{ variant.title }}</label></span>{% endfor %}</p>
						<input type="submit" class="" value="Add to Basket" />
						<p>
							<a href="{{product.url}}">View Details</a>	
							
							<span>
								{% if product.compare_at_price %} 			  
									{% if product.price_min != product.compare_at_price %}			    
										{{product.compare_at_price | money}} -
			  						{% endif %}
								{% endif %}
								<strong>
									{{product.price_min | money}}
								</strong>
							</span>
						</p>
					</div>
				</div>
				</form>
			</li>
		{% endfor %}
		</ul>
		
		<div class="paginate clearfix">
			{{ paginate | default_pagination }}
		</div>

		
		<div id="three-reasons" class="clearfix">
			<h3>Why Shop With Us?</h3>
			<ul>
				<li class="two-a">
					<h4>24 Hours</h4>
					<p>We're always here to help.</p>
				</li>
				<li class="two-c">
					<h4>No Spam</h4>
					<p>We'll never share your info.</p>
				</li>
				<li class="two-d">
					<h4>Secure Servers</h4>
					<p>Checkout is 256bit encrypted.</p>
				</li>
			</ul>
		</div>
	</div>

{% endpaginate %}
