<div id="collection-page">

{% if collection.description %}
  <div id="collection-description" class="textile">{{ collection.description }}</div>
{% endif %}

{% paginate collection.products by 20 %}

<ul id="product-collection">
    {% for product in collection.products %}
    <li class="single-product clearfix">
      <div class="small">
        <div class="prod-image"><a href="{{product.url}}"><img src="{{ product.featured_image | product_img_url: 'small' }}" alt="{{ product.title | escape }}" /></a></div>
      </div>
      <div class="prod-list-description">
        <h3><a href="{{product.url}}">{{product.title}}</a></h3>
        <p>{{ product.description | strip_html | truncatewords: 35 }}</p>
  	  <p class="prd-price">{{ product.price_min | money }}{% if product.price_varies %} - {{ product.price_max | money }}{% endif %}</p>
     </div>
    </li>
    {% endfor %}
</ul>
  
<div id="pagination">
  {{ paginate | default_pagination }}
</div>

{% endpaginate %}
</div>